* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
}

.header-content {
    padding: 0 2rem 2rem 2rem;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 1.5rem;
    margin-top: 5px;
    width: 60px;
    height: 50px;
}

.navbar-content {
    background-color: rgb(92, 100, 105);
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.element {
    max-width: 380px;
    margin: 2rem 3rem;
    object-fit: cover;
    text-align: center;
    background: linear-gradient(0deg, rgba(104, 113, 120, 1) 0%, rgba(83, 90, 95, 1) 100%);
    color: white;
    border-radius: 5px;
    box-shadow: rgb(255 255 255 / 10%) 0px 1px 1px 0px inset, rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}

.element img {
    width: 380px;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.element p {
    font-size: 1.2rem;
    padding: 0.3rem;
}

.element span {
    font-size: 1rem;
}

.buyAndSellContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-sell {
    background-color: rgb(221, 153, 153);
}

.btn-buy {
    background-color: rgb(158, 221, 153);
}